# This action builds the alpha version as apk on a password protected zip,
# and uploads it to the alpha release.
# Adapted from https://github.com/amirisback/automated-build-android-app-with-github-action
name: Build alpha apk

on:
  # Triggers the workflow on push events for the master branch
  # push:
  #   branches:
  #     - master

  # Run this workflow manually from the Actions tab
  workflow_dispatch:

# parameters
env:
  VARIANT: alpha
  TAG: alpha
  ZIP: app-alpha.zip

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Get the repository files
        uses: actions/checkout@v3

      - name: Set Up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'

      - name: Set gradlew as executable
        # for some reason the gradle-build-action doesn't do this automatically
        run: chmod +x ./gradlew

      - name: Build & assemble with gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: >
            build
            assemble${{ env.VARIANT }}

      - name: Zip ${{ env.VARIANT }} apk as ${{ env.ZIP }}
        # just remove the password here if you want to build the apk yourself
        run: zip -j -P ${{ secrets.ALPHA_PASS }} ${{ env.ZIP }} app/build/outputs/apk/${{ env.VARIANT }}/app-${{ env.VARIANT }}.apk

      - name: Update ${{ env.TAG }} tag to current commit
        # equivalent to EndBug/latest-tag@latest but simpler
        run: |
          git tag --force ${{ env.TAG }}
          git push --force origin tag ${{ env.TAG }}

      - name: Upload ${{ env.ZIP }} to ${{ env.TAG }} release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.TAG }}
          files: ${{ env.ZIP }}
